.border-top {
  border-top: 1px solid var(--bs-border-color);
}

.border-bottom {
  border-bottom: 1px solid var(--bs-border-color);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}
